body { 
    background: linear-gradient(to top,#71b28f  0%, #135a5e 50%, #172622 100%);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: left;
    color: #f5edd4;
    margin-left: 50px; 
    margin-right: 50px;
}

.p1 {
    text-align: center;
    color: #f5edd4;
    margin-left: 50px;
    margin-right: 50px;
}

nav { 
    background-color: #c0fff81e;
    text-decoration: none;
    margin: 10px;
    max-width: 10%;
    position: fixed;
    border-radius: 5px;
}

.button1 {
    background-color: #001835;
    color: rgb(147, 195, 243);
    padding: 1px 5px;
    text-decoration: none; 
    border: double, #00ff55, 0px;
    border-radius: 5px;
    opacity: 60%;
}

.button1:hover {
    background-color: #001a3d;
    color: rgb(118, 172, 222);
    padding: 5px 20px;
    text-decoration: none; 
    border: double, #00ff55, 0px;
    border-radius: 5px;
    opacity: 100%;
}

img {
    max-width: 90%;
    margin: 10px;
    display:block; 
}

footer {
    background: #172622;
    max-width: 350px;
}


