body { 
    background: linear-gradient(to top,#71b28f  0%, #135a5e 50%, #172622 100%);
    background-repeat: no-repeat;}

    h1 {
    text-align: center;
    color: #ffffff;}

p {
    text-align: left;
    color: #f5edd4;
    margin-left: 50px; 
    margin-right: 50px;}

.p1 {
    text-align: right;
    color: #f5edd4;
    margin-left: 50px;
    margin-right: 50px;}

nav { 
    background-color: #82fff05e;
    text-decoration: none;
    max-width: 100%;
    position: fixed;
    }

.button1 {background-color: #bed7aa;
    color: rgb(2, 21, 40);
    padding: 1px 10px;
    text-decoration: none; 
}

.button1: hover {
    background-color: #06291d; 
    color: #d5ffb4;
}

  img {
    max-width: 90%;
    margin: 10px;
    display:block; 
  }

footer {
    background: #172622;
    max-width: 350px;
}


