body { background: linear-gradient(to top,#71b28f  0%, #135a5e 50%, #172622 100%);
    length: 100vh; background-repeat: no-repeat; }

    h1 {text-align: center;
    color: #ffffff;}

botton a {
  background-color: #bed7aa;
    color: rgb(2, 21, 40);
  padding: 0px 10px;
  text-decoration: none;
  
}
botton a:hover {
  background-color: #06291d;
  color: #d5ffb4;}